/* Empty. Add your own CSS if you like */
html,body{
	font-size:62.5%;
	font-size: 12px;
}
*{
	margin:0;
	paddingf:0; 
}
 ol,ul{
	list-style: none;
 }
.cesiumStyle{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.cesium-viewer-bottom{
	display:none!important;
}
.toolbar-right{
	position:absolute;
	right:1rem;
	top:50%;
}

.toolbar-right>ul li{
	text-align: center;
	margin-bottom: 1rem;
}
.toolbar-right>ul a{
	display: inline-block;
}
.toolbar-right>ul img{
	width:3rem;
	height:3rem;
	vertical-align: middle;
}
.imgtrans{
	transform:rotate(45deg);
}
.circle{
	-moz-transition: transform 2s; /* Firefox 4 */
	-webkit-transition: transform 2s; /* Safari 和 Chrome */
	-o-transition: transform 2s; /* Opera */
}
.pic{
	padding:10px 0;
}
.texts{
	padding-right:2rem;
}
.explain{
	border-bottom:1px solid #ddd;
	background-color: #fff;
	color: #444;
	padding: 16px;
	font-size: 16px;
	margin-bottom:1px;
	font-weight:bold;
}
.comm{
	border-width:0;
}
.list{
	padding-left:2rem;
	padding-right:2rem;
}
textarea.areawz{
	display:inline-block;
	padding-top:0;
	 border:1px solid #ddd;
	 vertical-align: top;
	 height:5rem;
	 padding:.5rem;
	 resize:none;
}
.pic{
	overflow-y: auto;
	max-height:30rem;
}
.foot{
	position:absolute;
	bottom:0;
	width:100%;
}
.img-list{
	padding:0!important;
}
.tabs{
	background-color:rgba(0,0,0,.5);
	color:#fff;
}
.activ{
	background-color:#f8f8f8!important;
	color:#444!important;
}
#sightControl{
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 3rem;
    width: 3rem;
    height: 3rem;
    vertical-align: top;
    text-decoration: none;
    color: #444;
    border-radius: 50%;
    background-color: rgba(255,255,255,.6);
}


.uls{
	display:none;
	position:absolute;
	bottom:49px;
	width:33.33%;
	max-width:150px;
}
.uls>li{
	background-color:rgba(0,0,0,.5);
	cursor: pointer;
	color:#fff;
}

.form{
	position:absolute;
	top:50%;
	width:100%;
}
.error{
	color:red;
	text-align: center;
}
.progress{
	margin-right:5px;
	line-height:34px;
}